/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/PrimeiroPrograma/build/
/PrimeiroPrograma/nbproject/private/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFCX/nbproject/private/
/OlaMundoJavaFCX/build/
/OlaMundoJavaFCX/dist/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/OlaMundoSwing/dist/
/PrimeiroPrograma/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/SomaSwing/dist/
/calculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/OperadorTernario/nbproject/private/
